.Container {
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: normal;
    margin-bottom: 0;
    margin-block: 0 10px;
    margin-inline: 0;
  }
  h2 {
    font-weight: normal;
    margin-bottom: 0;
    margin-block: 0;
    margin-inline: 0;
  }
  div {
    display: flex;
    align-items: center;
  }
}

.Profile {
  height: 100% !important;
  width: 100% !important;
  cursor: pointer;
}
