@import '../../variables';

.AvatarProfile {
  height: 100% !important;
  width: 100% !important;

}

.IconButton {
  background-color: rgb($secondary-color, 0.7) !important;
  color: white !important;
}

.IconButton:hover {
  background-color: rgba($secondary-color, 0.9) !important;
}

.Badge {
  height: 100% !important;
  width: 100% !important;
}

.Input {
  display: none;
}