$background-color: #FDFFF5;
$primary-color: #F0902F;
$secondary-color: #575656;
$tertiary-color: #4DB6AC;
$primary-light-text-color: #fef8f3;
$secondary-light-text-color: #8D8D8D;
$primary-dark-text-color: #444444;
