@import '../../variables';

.PetCard {
  height: 100%;
  background-color: #A6A6A6 !important;
  color: $primary-light-text-color !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PetGrid {
  div {
    display: flex;
    justify-content: space-between;
  }
}

.UpperItem {
  align-items: center;
  font-size: 38px;
  span {
    display: flex;
    align-items: center;
  svg {
      font-size: 38px;
    }
  }
  button {
    svg {
      font-size: 38px;
      color: red;
    }
  }
}

.LowerItem {
  bottom: 0;
  font-size: 20px;
  span {
    display: flex;
    svg {
      font-size: 20px;
    }
  }
}

.Edit {
  svg {
    font-size: 30px !important;
    color: #fef8f3 !important;
  }
}

.Image {
  position: relative;
  width: 100%;
  height: 100%;
}

.Remove {
  position: absolute !important;
  right: 16px;
  top: 16px;
  z-index: 5;
  svg {
    font-size: 30px !important;
    color: red !important;
  }
}

.NoImage {
  background-color: #747474;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
