@import '../../variables';

.SignInForm {
  text-align: right;
}

.Wrapper {
  display: grid;
  gap: 10px;
  @media screen and (min-width: ($medium + 1)) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $medium) {
    grid-template-columns: 1fr;
  }
  margin-bottom: 10px;
}

.Column {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
